venv
venv/
/venv
env
settings/local.py
settings/secrets.py
secrets.py
**/secrets.py
/.pydevproject
/.project
/.vscode
/.settings
*.pyc
/.vagrant
/.externalToolBuilders/
media
csv_files/*.csv
/node_modules
less.xml
/.DS_Store
yarn.lock
gulpfile.js
npm-debug.log
.DS_Store
.swp
*.DS_Store
hm_env
*.zip
*.csv
.DS_Store
.vscode