{% extends 'movies/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<header>
        <div class="row">
          <div class="col-sm-11">
            <h2>Directors</h2>
          </div>

      <div class="col-sm-1">
          {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary" href="{% url 'director_new' %}">new</a>
          {% endif %}
      </div>
      

</header>

{% if directors %}
<ul class="list-group">
{% for director in directors %}

  <li class="list-group-item"><a href="{% url 'director_detail' director.pk %}">{{ director.director_name | safe }}</a></li>
{% endfor %}

</ul>
{% else %}
<p>No Directors.</p>
{% endif %}

<p>page count: {{ directors.count }}</p>
{% include '../pagination.html' %} 

{% else %}
<a href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock content %}