{% extends 'movies/base.html' %}
{% block content %}

<h2>Movies Sites</h2>
<ul class="list-group">
        
    <li class="list-group-item list-group-item-primary">Search Movie: Find the movie you are intereted in by using the filter system.    </li>
    <li class="list-group-item list-group-item-light">Movies List: All the movies titles from IMDB. Authorized user could add, modify or delete the movie item.</li>
    <li class="list-group-item list-group-item-dark">Director List: All the directors from IMDB movies. Authorized user could add, modify or delete the directer info.</li>
</ul>

{% endblock content %}
