{% extends 'movies/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<header>
        <div class="row">
          <div class="col-sm-11">
            <h2>Movies</h2>
          </div>
          <div class="col-sm-1">
            {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary" href="{% url 'movie_new' %}">new</a>
            {% endif %}
          </div>
        </div>
</header>

  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <button type="submit" class="btn btn-outline-dark">filter</button>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
      {% for movie in movie_list %}
        <h4><a href="{% url 'movie_detail' movie.pk %}">{{movie.title}}</a></h4>

        {% if movie.director %}
        <div class="card">
            <div class="card-body row">
            <h5 class="card-title col-6">Director</h5>  
            <p class="card-text col-6">{{ movie.director }}</p>
            </div>
        </div>
        {% endif %}

        {% if movie.actor %}
        <div class="card">
        <div class="card-body row">
        <h5 class="card-title col-6">Actors</h5>
           <p class="card-text col-6">{{ movie.actor_display}}</p>
        </div>
        </div>
        {% endif %}

        {% if movie.rating %}
        <div class="card ">
        <div class="card-body row">
            <h5 class="card-title col-6">Rating</h5>
        <p class="card-text col-6">{{ movie.rating}}</p>
        </div>
        </div>
        {% endif %}

    {% empty %}
      Select one or more filters relevant to your search and then click "filter".
      <img src="{% static 'img/imdb.png' %}" alt="imdb">
    {% endfor %}
    </div>
  </div>
  
{% include '../pagination.html' %}         

{% endblock content %}
