body {
    background-color: #FFFFFF; /* start here */
    display:block;
}
nav{
  background-color:#FC4445;
}
footer{
  background-color:#97CAEF;
}

/* example: comment out padding */
.container-fluid {
    background-color: transparent;
    /* padding: 0.5rem 0.5rem; */
}
