<nav>
  {% if is_paginated %}
    <ul class="pagination justify-content-center">
        
            {% if page_obj.has_previous %}
                <li class="page-item">
                <a  href="?page=1">1</a>   
                  <a  href="?page={{ page_obj.previous_page_number }}">
                      &laquo;Previous
                    </a>               
                  </li>

            {% endif %}
          
            <br>
            <span class="page-item current">
                <li> &nbsp Page {{ page_obj.number }} &nbsp </li>
            </span>
            </br>

            {% if page_obj.has_next %}
            <span class="page-item">
            <li class="page-item"> <a href="?page={{ page_obj.next_page_number }}">Next&raquo;</a>
             <a href="?page={{ page_obj.paginator.num_pages }}"> {{ page_obj.paginator.num_pages }} </a>
            </li> 
          </span>
            {% endif %}
          </span>
          </ul>

          {% endif %}
</nav>
